{{- /* Apache 1.3 style listing page; called by autoindex-dir.html with dir, up, entries, parent_date, header, readme */ -}}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of /{{ .dir }}</title>
 </head>
 <body>
<h1>Index of /{{ .dir }}</h1>
{{ with .header }}<pre>
{{ . }}</pre>
{{ end -}}
<pre><img src="{{ .up }}images/apache/blank.png" alt="     "> Name                    Last modified       Size  Description
<hr>
<img src="{{ .up }}images/apache/back.png" alt="[DIR]"> <a href="../">Parent Directory</a>        {{ .parent_date }}      -  
{{ range .entries }}<img src="{{ $.up }}images/apache/{{ .icon }}.png" alt="{{ .alt }}"> <a href="{{ .href }}">{{ .name }}</a>{{ strings.Repeat (sub 24 (len .name)) " " }}{{ .date }}  {{ .size }}  {{ .desc }}
{{ end }}</pre>
{{ with .readme }}<pre>
{{ . }}</pre>
{{ end -}}
</body></html>
